.selectContainer {
  position: relative;
  width: 100%;
}

.select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 1em 5em 1em 1.5em;
  background: #4d5061;
  color: #fff;
  border: 0;
}

.option {
  display: block;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}
.arrow::after,
.arrow::before {
  --size: 0.65em;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 40%;
}

.arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgba(255, 255, 255, 0.5);
  top: 60%;
}
